.header{
	background: #ffaa00;
	padding-top: 5px;
	padding-bottom: 5px
	border-style: double;
	border: solid white;

}
.header h1 {
	text-align: center;
	color: white;
	font-family: fantasy;
}
/*---------------------------*/
body{
	background: #ffcc66;
}
.menu {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #ffaa00;
    opacity: 0.9;
    border-radius: 10px;
    border-style: double;
	border: solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.img{
	width: 100%;
	border: 5px solid white;
}

#housing-img{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img2{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img3{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img4{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img5{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img6{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img7{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img8{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

#housing-img9{
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
}
.grid{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 5px;
    float: left;
     margin-left: 15px;
     margin-top: 15px;
     background: #ffaa00;
     border-radius: 5px;
    

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;

}

button{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: none;
	background-color: lightgrey; 
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer{
	background: #ffaa00;
	padding-top: 5px;
	padding-bottom: 5px
	border-style: double;
	border: solid white;
	margin-top: 15px;
}

.footer h5{
	text-align: center;
	color: white;
	font-family: fantasy;
}

.social-media{
	width: 100%;
	width: 30px;
	margin-left: 5px;

}

.links:hover{
	opacity: 0.5;
}

#DonationPage {
    padding-left: 3%;
    padding-right: 3%;
}

.info {
    width: 95%;
    padding:15px;
    margin-bottom: 15px;
    font-size: 12pt;
}

label {
    color: #e67300;
    font-size: 16pt;
    position:relative;
    top:-5px;
}

.radio {
    margin:10px;
}

#DonateButton {
    width: 15%;
    height: 50px;
    color: white;
    font-size: 12pt;
    background-color: darkorange;
    border: 2px solid peachpuff;
}